@using SpotifyVoiceCommander.Maui.Widgets.AudioPlayer.AudioPlayerFlowProvider

@inherits EtaiLayoutComponentBase

<MudThemeProvider IsDarkMode="true" DefaultScrollbar="true" />

<EtaiCtxMenuProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<AudioPlayerFlowProvider />

<div @attributes="UserAttributes"
     style="@StyleName"
     class="@ClassName w-vw-100 h-vh-100">
    @Body
</div>
