@using SpotifyVoiceCommander.Maui.Entities.SpeechRecognizer.Components

@inherits SvcFluxorComponentBase

<div class="w-100 h-100">
   <SpeechRecognizerListner StartRecognizerImmediately="StartRecognizerImmediately"/>
</div>