@using SpotifyVoiceCommander.Maui.Widgets.Viewer.AuthorizedViewerLayout

@layout AuthorizedViewerLayout
@inherits SvcFluxorComponentBase

<div @attributes="UserAttributes"
     style="@StyleName"
     class="@ClassName d-flex flex-column align-center justify-center w-100 h-100">
    <MudText>Spotify Voice Commander</MudText>
</div>